*.o
*.swp
*.pcap
cscope.*
iso/boot/kernel
iso/boot/loader
kernel.iso
kernel/kernel.ld
kernel/solo5.lds
kernel/kernel
kernel/interrupt_vectors.s
kernel/test_*.ukvm
kernel/test_*.virtio
ukvm/ukvm
loader/loader
disk.img
test.iso
