*.o
*.d
*.a
*.lib.so
*.pc
Makeconf
Makeconf.sh
solo5-config.sh
tags
include/crt
include/version.h
tests/*/*.hvt
tests/*/*.spt
tests/*/*.virtio
tests/*/*.muen
tests/*/*.genode
tests/*/*.xen
tests/*/*.xl
tests/*/manifest.c
tenders/hvt/solo5-hvt
tenders/hvt/solo5-hvt-debug
tenders/spt/solo5-spt
elftool/solo5-elftool
opam/release
solo5-*.tar.gz
