*.o
*.d
*.a
*.pc
Makeconf
Makeconf.sh
tags
include/crt
include/version.h
tests/*/*.stub
tests/*/*.hvt
tests/*/*.spt
tests/*/*.virtio
tests/*/*.muen
tests/*/*.xen
tests/*/*.xl
tests/*/manifest.c
tenders/hvt/solo5-hvt
tenders/hvt/solo5-hvt-debug
tenders/spt/solo5-spt
elftool/solo5-elftool
opam/release
toolchain/bin/
toolchain/include/
toolchain/lib/
solo5-*.tar.gz
