
# specify location of opam libraries
# used in kernel/Makefile.app for unikernel build dependencies
CFG_M_OPAM_D=/home/solo5/.opam/4.01.0

# specify location of mirage platform components
# used in kernel/Makefile.app for unikernel build dependencies
CFG_M_CONSOLE_D=/home/solo5/solo5-mirage/mirage-console
CFG_M_BLOCK_D=/home/solo5/solo5-mirage/mirage-block-solo5
CFG_M_NET_D=/home/solo5/solo5-mirage/mirage-net-solo5
CFG_M_TOOL_D=/home/solo5/solo5-mirage/mirage
CFG_M_PLATFORM_D=/home/solo5/solo5-mirage/mirage-platform

# specify location of mirage applications
# used in ./Makefile for top level mirage unikernel config, e.g.
#      config_console:
#      config_block:
#      config_kv_ro_crunch:
#      config_kv_ro:
#      config_stackv4:
#      config_www:
CFG_M_APP_CONSOLE_D=/home/solo5/solo5-mirage/mirage-skeleton/console
CFG_M_APP_BLOCK_D=/home/solo5/solo5-mirage/mirage-skeleton/block
CFG_M_APP_KV_RO_CRUNCH_D=/home/solo5/solo5-mirage/mirage-skeleton/kv_ro_crunch
CFG_M_APP_KV_RO_D=/home/solo5/solo5-mirage/mirage-skeleton/kv_ro
CFG_M_APP_STACKV4_D=/home/solo5/solo5-mirage/mirage-skeleton/stackv4
CFG_M_APP_WWW_D=/home/solo5/solo5-mirage/mirage-www/src




